* {
    Box-sizing: border-box;
    Margin: 0;
    Padding: 0;
    }
    
body{
    font-family: Arial, Helvetica, sans-serif;
}

.hr{
    border-color: lightblue;
    height: 5px;
    background-color: lightblue;
    border: 0;
}

.h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:50px;
}


/* .descriptions{
    background-color: red;
} */

.header{
    background-color: rgb(13	61	113)	;
    color: white;
    padding-left: 50px;
    padding-bottom:50px;
    padding-top:50px;
}